<h1>Editing Profile</h1>

<%= render 'form', profile: @profile %>

<%= link_to "Show Links", profile_links_path(@profile) %> |
<%= link_to 'Show', @profile %> |
<%= link_to 'Back to Profiles', profiles_path %>

